h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: aqua;
    
}

p::selection{
    color: rgb(4, 255, 29);
    background-color: rgb(255, 255, 255);
    
}

/* #fruit li::before{
    content:"✓";
} */

#apple::after{
    content:"🦣";
}
#orange::after{
    content:"🤺";
}
#banana::after{
    content:"❤️";
}

#fruit li::marker{
     content:"✓";
     color: rgb(5, 237, 160);
     font-size: 3em;

}

